@font-face {
  font-family: "IRANSansWeb(FaNum) Medium";
  src: url('http://db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.woff2') format('woff2');
}
body, input, p, div {
  margin: 0;
  font-family: "IRANSansWeb(FaNum) Medium", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* "IRANSansWeb(FaNum) Medium" */
/* 'IRANSansWeb(FaNum)' */